/* app css stylesheet */
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  background-image: url(../img/rainbow.jpg);
  background-repeat: repeat-x; }

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #666666;
  font-weight: bold;
  text-decoration: none; }

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666666; }
  body a {
    color: #489fd4; }

.notes {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666666; }

.frontpage {
  background-image: url(images/image_frontpage.jpg);
  background-repeat: no-repeat; }

.sabCopyB {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #666666;
  font-style: normal;
  font-weight: bold; }

.breadcrumbs li {
  display: inline;
  list-style: none; }
  .breadcrumbs li:after {
    content: ">";
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none; }
  .breadcrumbs li:last-child:after {
    content: none; }

.choose_language {
  float: right; }
  .choose_language li {
    list-style: none; }
  .choose_language a {
    text-decoration: underline;
    cursor: pointer; }
