!!! 5

%html{lang: 'en', ng-app: 'hlApp'}
  %head
    %meta{charset: 'utf-8' }/
    %title{data-i18n:"__title__"}
    %link{rel: 'stylesheet', href: 'css/app.css' }

  %body{ng-controller: 'AppController'}
    %h1.title{data-i18n:"__title__"}

    %ul
      %li
        %a{ng-click:"setLanguage('en')"} English
      %li
        %a{ng-click:"setLanguage('kh-kh')"} Khmer

    %a{href:"#"} {{"__chapters__" | i18n}}

    %div{ng-view: ''}

    %script{src: 'lib/angular/angular.min.js' }
    %script{src: 'lib/angular/sanitize.min.js' }
    %script{src: 'lib/localize.js' }
    %script{src: 'js/app.js' }
    %script{src: 'js/services.js' }
    %script{src: 'js/controllers.js' }
    %script{src: 'js/filters.js' }
    %script{src: 'js/directives.js' }
