#about
  %h1 About Sabairean

  %ul
    %li
      %a{href:'#purpose'} Purpose
    %li
      %a{href:'#history'} History
    %li
      %a{href:'#summary'} Summary

  %h2 Purpose
  %p.purpose Train a generation of programmers to change the lives of the worlds poorest people

  %p
    In the next decade hundreds of millions of people who have never had access to technology will use
    a computer for the first time. It will be a smart phone or tablet that they probably share with other people and
    cost less than $100. It will have the power to change their lives.

  %p
    During the last 20 years we have witnessed the profound impacts mobile phones have made to every aspect of
    our world, particularly in poorer countries. From banking and market information to health care
    mobile phones are making it easier for people to improve their lives - all with just voice and text.
    Impressive as these impacts have been it is nothing compared to the changes that will happen as the whole world
    gets access to computers with millions of apps a few taps away.

  %p
    Take a step back and think about the impact computers have made in developed countries over the last 30 years.
    They have changed everything - our media, entertainment, politics, science and education. Not to mention every single
    business and industry you can think of.  It isn't called the information revolution for nothing and for the vast
    majority of people on the planet it is only just beginning.

  %p
    This isn't just a case of blindly rolling out solutions that have worked in rich countries.  Just like mobile phones
    developing countries can avoid the dead ends and go straight for the winners - cherry picking, adapting, innovating.
    But there is a problem. Many countries do not have the depth of talent to take advantage of this opportunity. Their IT
    communities are under trained, under paid and using suboptimal technologies.

  %p
    That's where we come in - Sabairean is a collective of developers from around the world committed to providing programmers
    everywhere access to free, world class education in their native language. We help people learn the skills to participate
    in the biggest opportunity of our time.


  %h2 History
  %h2 Summary
