#about
  %h1 About Sabairean

  %ul
    %li
      %a{href:'#purpose'} Purpose
    %li
      %a{href:'#history'} History
    %li
      %a{href:'#summary'} Summary

  %h2 Purpose
  %p
    %strong
      There are a wave of smartphones and tablets coming into developing countries and they have the potential for
      massive social impact. We help train local programmers to build web and mobile apps to take advantage of this opportunity.

  %p.purpose
    Our mission: To make world class technical education accessible to everyone, everywhere.

  %p In the last 20 years Mobile phones have had a profound effect in developing countries.

  %blockquote
    "Mobile communications offer major opportunities to advance human and economic development – from providing basic
    access to health information to making cash payments, spurring job creation, and stimulating citizen involvement in democratic processes"
    %br
    \--
    %a{href: 'http://www.worldbank.org/en/news/press-release/2012/07/17/mobile-phone-access-reaches-three-quarters-planets-population'}
      World Bank Vice President for Sustainable Development Rachel Kyte
  %p
    Over the same 20 years, computers have had a big impact in the world on all aspects of our personal and professional
    lives – Business, Media, Politics, Education, Entertainment, Health care etc. However in developing economies this
    potential has yet to be realised as computers have been unaffordable for most people. This is changing as
    %strong billions
    of people who have never had access to computers get low cost android devices.

  %p
    Developing countries are at the beginning of a second information revolution which creates significant opportunities for
    economic and social impact. Unfortunately many countries do not have enough people in a position to take advantage of this opportunity.
    There is a lack of trained programmers who can build apps adapted for local people and the formal education institutions are often
    quite poor quality.

  %p
    Our mission is to help people anywhere in the world gain the skills they need to build mobile and web apps.
    We are an international collective of developers committed to providing programmers everywhere access to free resources and world class education
    in their native language.

  %h2 History

  %p
    In April 2013 a group of entrepreneurs, designers and programmers from New Zealand formed the
    %a{href:'http://gfnchallenge.org/'}GFN Challenge
    and went to Cambodia for a week to volunteer on projects for local charities. One of these projects was
    %a{href:'http://www.gritlearning.com/'}Grit Learning
    who are doing fantastic work getting tablets into schools and using educational apps to revolutionize education.

  %p
    But Grit (and their local partner
    %a{href: 'http://www.kapekh.org/'}KAPE
    ) had a problem - all their educational apps were in english and it was difficult finding local developers who could
    translate existing apps, let alone build new ones. So the idea for Sabairean was formed - maybe we could do something
    to help older students learn how to build mobile apps and they could build help build educational apps for the
    younger ones.

  %p
    Our core idea was to create Khmer learning materials in an e-leaning platform and use informal programming clubs as
    a way students could learn how to build mobile apps.
    Together with a cambodian developer from
    %a{href:'http://instedd.org'}INSTEDD
    we built a prototype and trialled it in two schools. The results were positive enough that two
    %a{href: 'http://www.enspiral.com'} Enspiral
    developers returned to Cambodia in July 2013 to continue working on the project.

  %p
    We switched our focus to tertiary level students who often have some basic programming experience but not enough to
    confidently build their own apps. Students typically have quite good english but it is much easier to learn complex
    concepts in their native language and they have a strong preference for learning materials in Khmer. We are now beginning
    our first trials in August 2013 and the journey continues...

  %h2 What we are doing

  %h3 Localised creative commons learning materials
  %p
    We help experienced programmers and teachers create free programming learning materials which are translated into multiple languages.
    Each course is published on github under the creative commons license and free for anyone to use.

  %h3 Open source e-learning platform
  %p
    Our open source platform aggregates these courses and provides an easy to use portal for students to
    %ul
      %li Work through materials in their own time
      %li Help other people with their learning
      %li Build reputation and connect with other programmers

  %h3 Programming clubs
  %p
    Learning solely online is a good start but nothing beats in person interaction so a big part of Sabairean are the informal
    programming clubs.

  %h3 Commercial opportunities
  %p
    Programming clubs are a great start but to really become a strong programmer you need to find work that nurtures your
    growth. So a big focus for Sabairean is to help programmers find work which
    %strong pays well
    and
    %strong supports their learning.

  %p
    Our hope is that this will lead to strong international partnerships between people and companies who can work together to
    build applications that make a significant impact on human and economic development around the world.

