.pull-right= image_tag 'frontpage.jpg', width: 438
%h1 Welcome to Sabairean
%p
  This learning resource was made for Cambodian youth. Learn to programme mobile devices and computers in the Khmer language.
%p Have fun while your learn. Make your own games, play with your friends, amuse your family and surprise your teacher.

.start_button= link_to image_tag('startbutton.jpg'), about_path
