<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap-responsive.min.css">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" />
        <title>Sabairean Application - Course Sumarize</title>
    </head>
 
    <body>
        <div class="container">

			<nav class="navbar" role="navigation">
				<div class="navbar-header">
					<ul class="nav navbar-nav">
						<li><a href="home.html">Home</a></li>
	                    <li class="active"><a href="courses.html">Courses</a></li>
						<li><a href="http://www.sabairean.com">Sabairean</a></li>   
					</ul>
				</div>
			</nav>
		
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-10">
					<h1 class="title_app text-center">Your First App: Memory Game<h1>
				</div>
				<div class="rating col-xs-6 col-sm-2 col-md-2 text-center">* * * * *</div>
			</div>

			<div class="row">
			    <div class="col-xs-12 col-sm-8 col-md-8">
			    	<div class="descriptionDetails">
					    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</br>
					    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p></p>
					</div>
			    </div>

			    <div class="col-xs-6 col-sm-4 col-md-4">
			    	<div class="description_Prerequisites">
				    	<h4>Courses Prerequisites</h4>
				    	<ul>
						    <li>Html Knowledge</li>
						    <li>courses "javascript handman"</li>
						    <li>incididunt ut labore et dolore magna aliqua.</li>
						    <li>laboris nisi ut aliquip ex </li>
						</ul>
					</div>  
			    </div>
			</div>

			<div class="row">
 				 <div class="col-xs-12 col-sm-8 col-md-8">
 				 	<div class="steps_details">
	 				 	<ol>
	 				 		<li><a href="#">- Setup files</a></li>
	 				 		<li><a href="#">- Step 2</a></li>
	 				 		<li><a href="#">- Step 3</a></li>
	 				 		<li><a href="#">- Step 4</a></li>
	 				 		<li><a href="#">- Step 5</a></li>
	 				 	</ol>
 				 	</div>
 				 </div>
 				 <div class="col-xs-6 col-sm-4 col-md-4">
 				 	<div class="ressources">
	 				 	<h4>Additional ressources<h4>
	 				 	<ul>
	 				 		<li>Resize photos</li>
	 				 		<li>Deploy Android</li>
	 				 		<li>Khmer Font</li>
	 				 		<li>other tutoriel</li>
	 				 		<li>Ressources 5</li>
	 				 		<li>Ressouces 6</li>
	 				 	</ul>
 				 	</div>
 				 	<div class="user_complet">
 				 		<h4>User who complet:</h4>
 				 		<img class="img-responsive" src="josh.jpg" alt="User picture"/>
 				 		<img class="img-responsive" src="steph.jpg" alt="User picture"/>
 				 		<img class="img-responsive" src="smey.jpg" alt="User picture"/>
 				 		<div>12</div>
 				 		<div><a href="">See more</a></div>
 				 	</div>
 				 </div>	
			</div>
		</div>
	<body>
</html>