<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
	

		<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
		<script src="http://code.jquery.com/jquery.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>


		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css" />
        <title>Sabairean Application - Home</title>
    </head>
 
    <body>
        <div id="bloc_page" class="container">
			<nav>
				<ul class="unstyled">
					<li><a href=home.html>Home</a></li>
                    <li><a href="#">Courses</a></li>
                    <li><a href="#">Sabairean</a></li>        
				</ul>
			</nav>

   			<p class="pull-right language">
		       <select name="language" id="language">
		           <option value="english">English</option>
		           <option value="khmer">Khmer</option>
		           <option value="french">French</option>
		       </select>
			</p> 	

			<section>
				<div class="pull-left">
					<div>
						<img class="img-responsive" src="student.jpg" id="logo"/>
					</div>

					<div>	
						<p class="lead description">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
						</p>
					</div>
				</div>

				
				<ol class="steps pull-right">
					<li>
						<strong>Setup</strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt utlabore et dolore magna aliqua.</p>
					</li>
					<li>
						<strong>Builds</strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>			
					</li>
					<li>
						<strong>Deploy</strong>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						
					</li>
				</ol>
				
				
				
				<a href="" class="btn btn-primary btn-large pull-right start">start</a>

				<p class="pull-right numbers one text-center">1</p>
				<p class="pull-right numbers two text-center">2</p>
				<p class="pull-right numbers three text-center">3</p>





			</section>
		</div>
    </body>
</html>