nav li
{
    list-style-type: none;
    display: inline-block;
    font-size: 1.5em;
}

.language 
{
margin-right: 100px;

}

.image, .description
{
	margin-top: 10px;
	border: 3px solid black;
	width: 400px;
	height: 280px;
	overflow: hidden;
	margin-right: 30px;
	margin-left: 40px;

}

.steps
{
	width: 700px;
	display: block;
	padding: 50px 0 0 250px

}


.steps strong 
{
	font-size: 30px;
}

.steps li 
{
	padding-bottom: 40px;
	width: 360px;
	list-style-type: none;
}

li p 
{
	padding-left: 20px
}

.start 
{
	margin-right: 110px;
	margin-top: -20px;
	width : 10%;
}


.numbers 
{	
	width: 60px;
	height: 60px;
	border: 2px solid black;
	border-radius: 30px;
	font-size: 2em;
	padding-top: 8px ;
	font-weight: bold;
	margin-right: 240px;
	margin-top: -450px;
}

li p 
{
	padding-left: 20px
}

.one
{
	margin-right: 240px;
	margin-top: -450px;
}

.two
{
	margin-top: -300px;	
}

.three
{
	margin-top: -150px;	
}


.courses
{
	border: 3px solid black;
	width: 90%;
	height: 200px;
	overflow: hidden;
	padding: 8px 10px 10px 10px;
	margin-bottom: 40px;
}

header .tag
{
	list-style-type: none;
	margin: -10px 0 20px 0;
	padding-left: 0
}

.tag li 
{
	display: inline-block;
	border-right: 2px solid black;
	padding: 0 5px 0 5px
}

.courses h2
{
	font-size: 18px;
	margin-top: 0px;
}

.courses h3
{
	font-size: 16px;
	margin: -10px 0 0 0;
	font-weight: bold;
}

.courses .prerequisites li
{
	font-size: 16px;
	font-weight: none;
	margin: 0 0 0 100px;
	list-style-type:none;
}

.courses .prerequisites li.done
{
	background-image: url(check_mark.png);
	background-size: 10px 10px;
    background-repeat: no-repeat; 
    background-position: left; 
    padding-left: 20px;
}

.courses .prerequisites li.not_done
{
	background-image: url(delete.jpg);
	background-size: 10px 10px;
    background-repeat: no-repeat; 
    background-position: left; 
    padding-left: 20px;
}

.courses .tag 
{
	font-size: 14px;
	padding: 0 0 0 0;
	margin-top: -2px;
}

.courses .student_number
{
	margin-top: -40px;
	font-size: 1.4em;
	font-style: bold;
	margin-right: 10px;
	margin-bottom: 10px
}

.tick 
{
	width: 8%;
	height: auto;
	margin-top: -28px;
}

.memo_img
{
	border: solid 1px black;
	width: 25%;
	margin-right: 10px
}

.prerequisites
{
	padding-top: 5px;
}

.prerequisites .tick
{
	width: 10%
}

.description_course p
{
	font-size: 16px;
	font-style: none;
}

.description_course .prerequisites h1
{
	font-style: bold;
	font-size: 16px;
}


.title_app
{
	padding-bottom: 20px;
}

.rating 
{
	font-size: 2.71429em;

}

.descriptionDetails, .description_Prerequisites, .steps_details, .ressources, .user_complet
{
	border: 3px solid black;
	margin-bottom: 20px;
	width: 90%;
	padding: 10px 10px 10px 10px;
}

.descriptionDetails
{
	font-size: 1.28571em;
	overflow: auto;
	line-height: 1.5em
}

.steps_details
{
	font-size: 1.71429em;
	list-style-type: decimal;
	line-height: 3em
}

