//= require angular-ui
//= require bootstrap_and_overrides

body
  margin-left: 0px
  margin-top: 0px
  margin-right: 0px
  margin-bottom: 0px
  background-image: url(images/rainbow.jpg)
  background-repeat: repeat-x
.sabH
  font-family: Arial, Helvetica, sans-serif
  font-size: 18px
  color: #666
  font-weight: bold
  text-decoration: none
.notes
  font-family: Arial, Helvetica, sans-serif
  font-size: 11px
  color: #666
.frontpage
  background-image: url(images/image_frontpage.jpg)
  background-repeat: no-repeat
.sabCopy
  font-family: Arial, Helvetica, sans-serif
  font-size: 14px
  color: #666
.sabCopyB
  font-family: Arial, Helvetica, sans-serif
  font-size: 14px
  color: #666
  font-style: normal
  font-weight: bold
.colourBack
  background-image: url(images/side.png)
  background-repeat: no-repeat
