nav li
{
    list-style-type: none;
    display: inline-block;
    font-size: 1.15em;
}


.sabairean-description
{
	width: 400px;
}

.image, .description
{
	border: 3px solid black;
	width: 400px;
	height: 280px;
	overflow: hidden;
	margin-right: 30px;
}

.description
{
	padding: 5px 5px 5px
}

.get-started
{
	margin: 40px 0 0;
}

.get-started strong 
{
	font-size: 30px;
}

.get-started ol {
	margin-left: 0px;
}

.get-started ol li 
{
	padding-bottom: 40px;
	width: 360px;
	list-style-type: none;
	padding-left: 80px
}

.get-started li p 
{
	margin-top: 10px;
}

.start-btn {
	width: 275px;
	margin-left: 78px;
}

.get-started .numbers 
{	
	width: 50px;
	height: 50px;
	border: 1px solid black;
	border-radius: 30px;
	font-size: 2em;
	padding-top: 8px ;
	font-weight: bold;
	line-height: 33px;
	position: relative;
	top: -15px;
}


.courses
{
	border: 3px solid black;
	height: auto;
	overflow: hidden;
	padding: 20px;
	margin-bottom: 40px;
}

header .tag
{
	list-style-type: none;
	margin: -10px 0 20px 0;
	padding-left: 0
}

.tag li 
{
	display: inline-block;
	border-right: 2px solid black;
	padding: 0 5px 0 5px
}

.courses h2
{
	font-size: 18px;
	margin-top: 0px;
}

.courses h3
{
	font-size: 16px;
	margin: -10px 0 0 0;
	font-weight: bold;
}

.courses .prerequisites li
{
	font-size: 16px;
	font-weight: none;
	margin: 0 0 0 100px;
	list-style-type:none;
}

.courses .prerequisites li.done
{
	background-image: url(/assets/mocks/check_mark.png);
	background-size: 10px 10px;
    background-repeat: no-repeat; 
    background-position: left; 
    padding-left: 20px;
}

.courses .prerequisites li.not_done
{
	background-image: url(/assets/mocks/delete.jpg);
	background-size: 10px 10px;
    background-repeat: no-repeat; 
    background-position: left; 
    padding-left: 20px;
}

.courses .tag 
{
	font-size: 14px;
	padding: 0 0 0 0;
	margin-top: -2px;
}

.courses .student_number
{
	margin-top: -40px;
	font-size: 1.4em;
	font-style: bold;
	margin-right: 10px;
	margin-bottom: 10px
}

.tick 
{
	width: 8%;
	height: auto;
	margin-top: -28px;
}

.memo_img
{
	border: solid 1px black;
	width: 25%;
	margin-right: 15px;
	min-height: 70px;
}

.prerequisites
{
	padding-top: 5px;
}

.prerequisites .tick
{
	width: 10%
}

.description_course p
{
	font-size: 16px;
	font-style: none;
}

.description_course .prerequisites h1
{
	font-style: bold;
	font-size: 16px;
}


.title_app
{
	padding-bottom: 20px;
}

.rating 
{
	font-size: 2.71429em;

}

.descriptionDetails, .description_Prerequisites, .steps_details, .ressources, .user_complet
{
	margin-bottom: 20px;
}

.descriptionDetails
{
	font-size: 1.28571em;
	overflow: auto;
}

.description_Prerequisites {
	font-weight: bold;
	font-style: italic;
}

.steps_details
{
	font-size: 1.71429em;
	list-style-type: decimal;
}

.user_complet img
{
	width: 25%;
	margin-right: 5px;
	border: 2px solid black;
}
 .user_complet .number_complet
{
	font-weight: bold;
	font-size: 2em;
	padding: 15px 15px 0 0;

}


.step_title
{
    margin: 25px 0 25px 0;
}



.full_step
{
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin: 10px 20px 10px 20px;
    font-size: 1.142857em;
    line-height: 1.5em
}

.introduction
{
    font-weight: bold;
}

.full_step img
{
    margin: 25px 25px 25px 25px;
    width: 60%;
}

.full_step h4
{
    font-weight: bold;
    margin-top: 30px;
    text-decoration: underline;
}
