<nav>
    <ul class="unstyled">
        <li><a href=home.html>Home</a></li>
        <li><a href=courses.html>Courses</a></li>
        <li><a href="http://www.sabairean.com">Sabairean</a></li>        
    </ul>
</nav>

<header>
    <h1 class="text-center">Courses</h1>
    <ul class="tag unstyled">
        <li><a href="#">Android</a></li>
        <li><a href="#">Java</a></li>
        <li><a href="#">Intro</a></li>
        <li><a href="#">Game</a></li>
        <li><a href="#">Ruby</a></li>
        <li><a href="#">Rails</a></li>
    </ul>
</header>

<div class="row">
    <div class="col-lg-6">
        <section class="courses">
            <h2><a href="#/courses/1">Your First App: Memory Game</a><h2/>
            <img class="pull-right tick img-responsive" src="/assets/mocks/Check_mark.png" alt="check mark"/>
            <ul class="tag unstyled">
                <li><a href="#">Android</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Intro</a></li>
                <li><a href="#">Game</a></li>
            </ul>

            <img class="pull-left img-responsive memo_img" src="https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw" alt="memo game"/>

            <div class="description_course">

                <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo<p>

                <div class="prerequisites">
                    <h3>Main prerequisites :</h1>
                    <ul>
                        <li class="done">First prerequisite</li>
                        <li class="done">Second prerequisite</li>
                        <li class="not_done">Third prerequisites</li>
                    </ul>
                </div>
                <p class="student_number pull-right">49</p>
            </div>
        </section>
    </div>


    <div class="col-lg-6">
        <section class="courses">
            <h2>Your First App: Memory Game<h2/>
            <img class="pull-right tick img-responsive" src="/assets/mocks/Check_mark.png" alt="check mark"/>
            <ul class="tag unstyled">
                <li><a href="#">Android</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Intro</a></li>
                <li><a href="#">Game</a></li>
            </ul>

            <img class="pull-left img-responsive memo_img" src="https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw" id="memo game"/>

            <div class="description_course">

                <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo<p>

                <div class="prerequisites">
                    <h3>Main prerequisites :</h1>
                    <ul>
                        <li class="done">First prerequisite</li>
                        <li class="done">Second prerequisite</li>
                        <li class="not_done">Third prerequisites</li>
                    </ul>
                </div>
                <p class="student_number pull-right">49</p>
            </div>
        </section>
    </div>


    <div class="col-lg-6">
        <section class="courses">
            <h2>Your First App: Memory Game<h2/>
            <ul class="tag unstyled">
                <li><a href="#">Android</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Intro</a></li>
                <li><a href="#">Game</a></li>
            </ul>

            <img class="pull-left img-responsive memo_img" src="https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw" id="memo game"/>

            <div class="description_course">

                <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo<p>

                <div class="prerequisites">
                    <h3>Main prerequisites :</h1>
                    <ul>
                        <li class="done">First prerequisite</li>
                        <li class="done">Second prerequisite</li>
                        <li class="not_done">Third prerequisites</li>
                    </ul>
                </div>
                <p class="student_number pull-right">49</p>
            </div>
        </section>
    </div>

    <div class="col-lg-6">
        <section class="courses">
            <h2>Your First App: Memory Game<h2/>
            <ul class="tag unstyled">
                <li><a href="#">Android</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Intro</a></li>
                <li><a href="#">Game</a></li>
            </ul>

            <img class="pull-left img-responsive memo_img" src="https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw" id="memo game"/>

            <div class="description_course">

                <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo<p>

                <div class="prerequisites">
                    <h3>Main prerequisites :</h1>
                    <ul>
                        <li class="done">First prerequisite</li>
                        <li class="done">Second prerequisite</li>
                        <li class="not_done">Third prerequisites</li>
                    </ul>
                </div>
                <p class="student_number pull-right">49</p>
            </div>
        </section>
    </div>

    <div class="col-lg-6">
        <section class="courses">
            <h2>Your First App: Memory Game<h2/>
            <img class="pull-right tick img-responsive" src="/assets/mocks/Check_mark.png" alt="check mark"/>
            <ul class="tag unstyled">
                <li><a href="#">Android</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Intro</a></li>
                <li><a href="#">Game</a></li>
            </ul>

            <img class="pull-left img-responsive memo_img" src="https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw" id="memo game"/>

            <div class="description_course">

                <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo<p>

                <div class="prerequisites">
                    <h3>Main prerequisites :</h1>
                    <ul>
                        <li class="done">First prerequisite</li>
                        <li class="done">Second prerequisite</li>
                        <li class="not_done">Third prerequisites</li>
                    </ul>
                </div>
                <p class="student_number pull-right">49</p>
            </div>
        </section>
    </div>

    <div class="col-lg-6">
        <section class="courses">
            <h2>Your First App: Memory Game<h2/>
            <ul class="tag unstyled">
                <li><a href="#">Android</a></li>
                <li><a href="#">Java</a></li>
                <li><a href="#">Intro</a></li>
                <li><a href="#">Game</a></li>
            </ul>

            <img class="pull-left img-responsive memo_img" src="https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw" id="memo game"/>

            <div class="description_course">

                <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo<p>

                <div class="prerequisites">
                    <h3>Main prerequisites :</h1>
                    <ul>
                        <li class="done">First prerequisite</li>
                        <li class="done">Second prerequisite</li>
                        <li class="not_done">Third prerequisites</li>
                    </ul>
                </div>
                <p class="student_number pull-right">49</p>
            </div>
        </section>
    </div>


</div>
</div>
