%header
  %h1.text-center Courses
  %ul.tag.unstyled
    %li
      %a{:href => "#"} Android
    %li
      %a{:href => "#"} Java
    %li
      %a{:href => "#"} Intro
    %li
      %a{:href => "#"} Game
    %li
      %a{:href => "#"} Ruby
    %li
      %a{:href => "#"} Rails
.row
  .col-lg-6
    %section.courses
      %h2
        %a{:href => "#/courses/1"} Your First App: Memory Game
      %h2
        %img.pull-right.tick.img-responsive{:alt => "check mark", :src => "/assets/mocks/Check_mark.png"}/
      %ul.tag.unstyled
        %li
          %a{:href => "#"} Android
        %li
          %a{:href => "#"} Java
        %li
          %a{:href => "#"} Intro
        %li
          %a{:href => "#"} Game
      %img.pull-left.img-responsive.memo_img{:alt => "memo game", :src => "https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw"}/
      .description_course
        %p Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo
        %p
        .prerequisites
          %h3
            Main prerequisites :
          %ul
            %li.done First prerequisite
            %li.done Second prerequisite
            %li.not_done Third prerequisites
        %p.student_number.pull-right 49
  .col-lg-6
    %section.courses
      %h2 Your First App: Memory Game
      %h2
        %img.pull-right.tick.img-responsive{:alt => "check mark", :src => "/assets/mocks/Check_mark.png"}/
      %ul.tag.unstyled
        %li
          %a{:href => "#"} Android
        %li
          %a{:href => "#"} Java
        %li
          %a{:href => "#"} Intro
        %li
          %a{:href => "#"} Game
      %img.pull-left.img-responsive.memo_img{:id => "memo game", :src => "https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw"}/
      .description_course
        %p Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo
        %p
        .prerequisites
          %h3
            Main prerequisites :
          %ul
            %li.done First prerequisite
            %li.done Second prerequisite
            %li.not_done Third prerequisites
        %p.student_number.pull-right 49
  .col-lg-6
    %section.courses
      %h2 Your First App: Memory Game
      %h2
      %ul.tag.unstyled
        %li
          %a{:href => "#"} Android
        %li
          %a{:href => "#"} Java
        %li
          %a{:href => "#"} Intro
        %li
          %a{:href => "#"} Game
      %img.pull-left.img-responsive.memo_img{:id => "memo game", :src => "https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw"}/
      .description_course
        %p Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo
        %p
        .prerequisites
          %h3
            Main prerequisites :
          %ul
            %li.done First prerequisite
            %li.done Second prerequisite
            %li.not_done Third prerequisites
        %p.student_number.pull-right 49
  .col-lg-6
    %section.courses
      %h2 Your First App: Memory Game
      %h2
      %ul.tag.unstyled
        %li
          %a{:href => "#"} Android
        %li
          %a{:href => "#"} Java
        %li
          %a{:href => "#"} Intro
        %li
          %a{:href => "#"} Game
      %img.pull-left.img-responsive.memo_img{:id => "memo game", :src => "https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw"}/
      .description_course
        %p Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo
        %p
        .prerequisites
          %h3
            Main prerequisites :
          %ul
            %li.done First prerequisite
            %li.done Second prerequisite
            %li.not_done Third prerequisites
        %p.student_number.pull-right 49
  .col-lg-6
    %section.courses
      %h2 Your First App: Memory Game
      %h2
        %img.pull-right.tick.img-responsive{:alt => "check mark", :src => "/assets/mocks/Check_mark.png"}/
      %ul.tag.unstyled
        %li
          %a{:href => "#"} Android
        %li
          %a{:href => "#"} Java
        %li
          %a{:href => "#"} Intro
        %li
          %a{:href => "#"} Game
      %img.pull-left.img-responsive.memo_img{:id => "memo game", :src => "https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw"}/
      .description_course
        %p Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo
        %p
        .prerequisites
          %h3
            Main prerequisites :
          %ul
            %li.done First prerequisite
            %li.done Second prerequisite
            %li.not_done Third prerequisites
        %p.student_number.pull-right 49
  .col-lg-6
    %section.courses
      %h2 Your First App: Memory Game
      %h2
      %ul.tag.unstyled
        %li
          %a{:href => "#"} Android
        %li
          %a{:href => "#"} Java
        %li
          %a{:href => "#"} Intro
        %li
          %a{:href => "#"} Game
      %img.pull-left.img-responsive.memo_img{:id => "memo game", :src => "https://lh5.ggpht.com/FpTIG2e3kpiNBhaoYBuzwf5c1tpWG6j7Cmu2Sma_KIR1_odHf5JqNx6mHCl9oaDwHg=w300-rw"}/
      .description_course
        %p Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempo adipisicing elit, sed do eiusmod tempo
        %p
        .prerequisites
          %h3
            Main prerequisites :
          %ul
            %li.done First prerequisite
            %li.done Second prerequisite
            %li.not_done Third prerequisites
        %p.student_number.pull-right 49