
			<div class="row">
				<div class="col-xs-12 col-sm-10 col-md-10">
					<h1 class="title_app text-center">Your First App: Memory Game<h1>
				</div>
				<div class="rating col-xs-6 col-sm-2 col-md-2 text-center">* * * * *</div>
			</div>

			<div class="row">
			    <div class="col-xs-12 col-sm-8 col-md-8">
			    	<div class="descriptionDetails">
					    <p>Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</br>
					    <p>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut</p></p>
					</div>
			    </div>

			    <div class="col-xs-6 col-sm-4 col-md-4">
			    	<div class="description_Prerequisites">
				    	<h4><strong>Courses Prerequisites :</strong></h4>
				    	<ul>
						    <li>Html Knowledge</li>
						    <li>courses "javascript handman"</li>
						    <li>incididunt ut labore et dolore magna aliqua.</li>
						    <li>laboris nisi ut aliquip</li>
						</ul>
					</div>
			    </div>
			</div>

			<div class="row">
 				 <div class="col-xs-12 col-sm-8 col-md-8">
 				 	<div class="steps_details">
	 				 	<ol>
	 				 		<li><a href="#">- Setup files</a></li>
	 				 		<li><a href="#">- Step 2</a></li>
	 				 		<li><a href="#">- Step 3</a></li>
	 				 		<li><a href="#">- Step 4</a></li>
	 				 		<li><a href="#">- Step 5</a></li>
	 				 	</ol>
 				 	</div>
 				 </div>
 				 <div class="col-xs-6 col-sm-4 col-md-4">
 				 	<div class="ressources">
	 				 	<h4><strong>Additional ressources</strong><h4>
	 				 	<ul>
	 				 		<li><a href="#">Resize photos</a></li>
	 				 		<li><a href="#">Deploy Android</a></li>
	 				 		<li><a href="#">Khmer Font</a></li>
	 				 		<li><a href="#">other tutoriel</a></li>
	 				 		<li><a href="#">Ressources 5</a></li>
	 				 		<li><a href="#">Ressouces 6</a></li>
	 				 	</ul>
 				 	</div>
 				 	<div class="user_complet">
 				 		<h4>User who complet:</h4>
 				 		<img class="pull-left img-responsive" src="josh.jpg" alt="User picture" title="Joshua"/>
 				 		<img class="img-responsive" src="steph.jpg" alt="User picture" title="Stephanie"/>
 				 		<img class="img-responsive" src="smey.jpg" alt="User picture" title="Reaksmey" />
 				 		<div class="number_complet pull-right">46</div>
 				 		<div><a href="">See more</a></div>
 				 	</div>
 				 </div>
			</div>