.row
  .col-xs-12.col-sm-10.col-md-10
    %h1.title_app Your First App: Memory Game
    %h1
  .rating.col-xs-6.col-sm-2.col-md-2.text-center * * * * *
.row
  .col-xs-12.col-sm-8.col-md-8
    .descriptionDetails
      %p
        Description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      %p quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
  .col-xs-6.col-sm-4.col-md-4
    .description_Prerequisites
      %h4
        %strong Courses Prerequisites :
      %ul
        %li Html Knowledge
        %li courses "javascript handman"
        %li incididunt ut labore et dolore magna aliqua.
        %li laboris nisi ut aliquip
.row
  .col-xs-12.col-sm-8.col-md-8
    .steps_details
      %ol
        %li
          %a{:href => "#/courses/1/steps/1"} - Setup files
        %li
          %a{:href => "#/courses/1/steps/2"} - Step 2
        %li
          %a{:href => "#/courses/1/steps/3"} - Step 3
        %li
          %a{:href => "#/courses/1/steps/4"} - Step 4
        %li
          %a{:href => "#/courses/1/steps/5"} - Step 5
  .col-xs-6.col-sm-4.col-md-4
    .ressources
      %h4
        %strong Additional ressources
      %h4
      %ul
        %li
          %a{:href => "#"} Resize photos
        %li
          %a{:href => "#"} Deploy Android
        %li
          %a{:href => "#"} Khmer Font
        %li
          %a{:href => "#"} other tutoriel
        %li
          %a{:href => "#"} Ressources 5
        %li
          %a{:href => "#"} Ressouces 6
    .user_complet
      %h4 User who completed:
      %img.pull-left.img-responsive{:alt => "User picture", :src => "/assets/mocks/josh.jpg", :title => "Joshua"}/
      %img.img-responsive{:alt => "User picture", :src => "/assets/mocks/steph.jpg", :title => "Stephanie"}/
      %img.img-responsive{:alt => "User picture", :src => "/assets/mocks/smey.jpg", :title => "Reaksmey"}/
      .number_complet.pull-right 46
      %div
        %a{:href => ""} See more