<nav class="navbar" role="navigation">
  <div class="navbar-header">
    <ul class="nav navbar-nav">
      <li><a href='/'>Home</a></li>
      <li class='active'><a href='#/courses'>Courses</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right pull-right">
      <li class="Language">
        <a href="#" class="language-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">ភាសាខ្មែរ</a></li>
          <li><a href="#">English</a></li>
          <li><a href="#">Français</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
